html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding::0;
	background: #5ac5f1;
}

header {
	float: left;
	width: 20%;
	background: #5ac5f1;
	position: relative;
}

main {
	float: left;
	width: 80%;
	height: 100%;
	position: relative;
}

#logo-container {
	text-align: center;
}

#logo {
	max-width: 100%;
	height: auto;
}

p {
	font-family: Source Sans Pro, Arial, sans-serif;
	font-weight: 600;
	color: #1d325f;
	font-size: 18px;
	line-height: 1.4em;
	margin: 20px;
}

a {
	text-transform: uppercase;
	color: #085ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#title {
	background: #1d325f;
	padding: 20px;
}

h1 {
	font-family: Source Sans Pro, Arial, sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 36px;
	line-height: 1.2em;
	text-transform: uppercase;
	text-align: center;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

span.loading {
	display: block;
	text-align: center;
	font-family: Source Sans Pro, Arial, sans-serif;
	font-weight: 600;
	color: #1d325f;
	font-size: 18px;
	line-height: 1.4em;
	padding-top: 200px;
}


